<!-- Services Section -->
    <section id="services">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A helyszínről</h2>
                    <h3 class="section-subheading text-muted">Minden tudnivaló</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Bethlen Major</h4>
                   <p class="text-muted">Nézd meg a <a href="https://www.google.co.uk/maps/dir//Ver%C5%91ce,+12101,+2621+Hungary/@47.829034,19.0547275,17z/data=!4m16!1m7!3m6!1s0x476a8170d05dcefd:0x5b367796dda3956f!2sVer%C5%91ce,+12101,+2621+Hungary!3b1!8m2!3d47.829034!4d19.0569162!4m7!1m0!1m5!1m1!1s0x476a8170d05dcefd:0x5b367796dda3956f!2m2!1d19.0569162!2d47.829034" target="_blank">
                       térképen</a>, hogy találsz el a helyszínre majd!</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d172042.7092999787!2d19.048729729852383!3d47.642315045225004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d47.558706799999996!2d19.1343695!4m3!3m2!1d47.829453199999996!2d19.0590705!5e0!3m2!1sen!2shu!4v1454514385071"
                            width="300" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Szombat esti szállás</h4>
                    <p class="text-muted">A szombat esti szállást mi álljuk, 12 óra után lehet a szállásokat elfoglalni. Kérünk Mindenkit, hogy a <a href="#contact">Visszajelzés</a> részben adja meg, hány fõ szeretne a helyszínen aludni aznap este!</p>
                    <p class="text-muted">A visszajelzéseket július közepeig várjuk, a kiosztott szobáról mindenkit folyamatosan igyekszünk tájékoztatni majd.</p>
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Kicsik</h4>
                    <p class="text-muted">A helyszín gyerek- es kutyabarát, minden kicsiny szereplőt szeretettel látunk! Monty is jön. :)</p>
                    <img src="img/Monty.jpg" alt="Monty" height="200">
                </div>
            </div>
           </div>
        </div>
    </section>