<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programterv*</h2>
                    <h3 class="section-subheading text-muted">2016. augusztus 27.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:00-14:00</h4>
                                    <h4 class="subheading">Vendégek érkezése</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A lefoglalt szállások 12 óra után elfoglalhatók.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>14:30-14:50</h4>
                                    <h4 class="subheading">Gyülekező</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Itt várjuk, hogy mindenki egy helyre gyûljön es megtisztelje a percet, mikor is kimondjuk a boldogitó igent, útközben pár falatot még magához is vehet. :)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15:00-15:30</h4>
                                    <h4 class="subheading">Férjjé es feleséggé nyilváníttatunk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ez lenne az este egyik legfontosabb, legfelemelkedettebb hangulatú jelenetének ideje, amikor közös akaratunkbol házastársakká nyilvánítanak bennünket, ha mindketten ügyesen válaszolunk. :)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/10.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15:30-16:00</h4>
                                    <h4 class="subheading">Fotós blokk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Itt jön az a rész, mikor mindenki megcsillantja legfényesebb mosolyát! :)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>16:30</h4>
                                    <h4 class="subheading">Bográcsolás</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A nagy izgalmak után a pajtánál étellel és italokkal lepjük meg vendégeinket, reméljük eddigre mindenki kellően megéhezik!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17:30</h4>
                                    <h4 class="subheading">Emlékeink vetítése</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lessétek meg velünk kedvesebbnél kedvesebb emlékeinket, amelyekből reméljük csak egyre több lesz!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18:00</h4>
                                    <h4 class="subheading">Torták</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Előhozzuk a jól rejtegetett, finomabbnál finomabb tortákat is.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>19:00</h4>
                                    <h4 class="subheading">Nyitótánc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hogy mindenkinek meghozzuk kedvét a táncra perdüléshez, először mi csillantjuk meg (felettébb kifinomult) tánctudásunkat...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/15.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>19:10-??:??</h4>
                                    <h4 class="subheading">Táncparkett koptatás</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mindenki kapja fel(, vagy éppen le) cipellőjét és perdüljön táncra!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20:00</h4>
                                    <h4 class="subheading">Sültek</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ha még van gyomor, mely éhes maradt vagy újratöltésre szorul, azt szeretettel látjuk a sült husik körül!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/14.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23:30</h4>
                                    <h4 class="subheading">Éjféli falatok</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18:30</h4>
                                    <h4 class="subheading">Ajandékok</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lessétek meg velünk kedvesebbnél kedvesebb emlékeinket, amelyekből reméljük csak egyre több lesz!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18:00</h4>
                                    <h4 class="subheading">?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">? ;)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>19:00</h4>
                                    <h4 class="subheading">Vacsoraaaaa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Remeljuk ezen idopont korul jon el a nemesi pillanat,mikor is a bogracsban rotyogo finomsagokat elkezdhetjuk magunkhoz venni.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20:00</h4>
                                    <h4 class="subheading">Nyitotanc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hogy mindenkinek meghozzuk kedvet a tancra perdulesre, eloszor mi csillantjuk meg (felettebb kifinomult) tanctudasunkat...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21:30</h4>
                                    <h4 class="subheading">Tortak</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Elohozzuk a jol rejtegetett finomabbnal finomabb tortacskakat is...</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/12.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>??:??</h4>
                                    <h4 class="subheading">LeheVerõce</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ki, hova...pihenni vonul. A buli vége, vagy másnap folytatjuk?! ;)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br>
                                <h4>Ünnepeljünk
                                    <br>együtt!</h4>
                            </div>
                        </li>

                    </ul>
                </div>
                <h3 class="section-subheading text-muted">* A mūsorváltozás jogát fenntartjuk. ;)</h3>
            </div>
        </div>
    </section>